/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper
   {
    width: 950px;
    background-color: silver;
    margin: auto;
    padding:15px;
    background-image: content: '\1F388';
   }

   #header
   {
    background-color: green;
    height: 150px;
    margin-bottom: 15px;
    text-align:center;
    padding:15px;
    font-size: 50px;
   }

   #navigation
   {
    height: 300px;
    width: 200px;
   padding:5px 0.5px 5px 0.5px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin:auto;
   }

   #main_content
   {
    height: 400px;
    width: 700px;
    background-color: red;
    display:inline-block;
    margin-left:15px;
    padding:15px;
   }
   
    .subcontents 
   {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display:inline-block;
    border: 3px green dashed;
    margin-right:15px;
    overflow:auto;
   }
   
  #advertisement
  {
    min-height: 120px;
    width: 680px;
    background-color: purple;
    margin-top: 15px;
    border:10px solid black;
    border-radius: 8px;
    text-align: center;
    color: yellowgreen;
    padding-top: 15px;
    font-style: italic;
   }